[2018-05-17 17:02] matthiaskoenig opened #1 "FBA gives incorrect objective_value 0 for bigg models iMM1415 & iRC1080"
When comparing the results of simple FBA simulations of cobrapy with SBSCL the following two BiGG models give different results:
[code]

[2018-08-06 01:12] shalinshah1993 opened #3 "Add support for nested repeated tasks"
_From @shalinshah1993 on July 12, 2018 18:51_

Currently, if an SED-ML file contains nested repeated tasks, simulation library will throw a warning `Warning! Nested repeated task found and ignored!`

At some point, this feature needs to be added to the simulation library. This issues thread serves as a discussion point.

_Copied from original issue: shalinshah1993/SBSCL#55_

[2018-08-06 01:13] shalinshah1993 opened #4 "Run FBA tests on all BiGG models"
_From @matthiaskoenig on June 11, 2018 13:2_

FBA simulations with all BiGG models should be performed and compared against reference solutions from cobrapy.
BiGG models are not part of the repository, but must be downloaded for testing in CI or locally. Access is via environment variable.

_Copied from original issue: shalinshah1993/SBSCL#28_

[2018-08-06 01:13] shalinshah1993 commented on #4
_From @matthiaskoenig on June 11, 2018 13:7_

Most of this is implemented in
https://github.com/shalinshah1993/SBSCL/commit/cefc069f6000ffe7ff252a6049413a5f422d33e2

This issue depends on #24, i.e. only if FBA is working than it can be run on all BiGG models.

[2018-08-06 01:14] shalinshah1993 opened #5 "LPsolver not working on ubuntu linux (libglpkjni_x64.so: undefined symbol: lib_set_fault_hook)"
_From @matthiaskoenig on June 7, 2018 21:43_

I added a simple test case for the solver in org.simulator.fba.CobraSolverTest.
When trying to run an optimization I get the following error:
[code]
Do I need to install anything else? Copy glpk libraries somewhere?

_Copied from original issue: shalinshah1993/SBSCL#24_

[2018-08-06 01:14] shalinshah1993 commented on #5
I think it is because you haven’t added all the scpsolver lpsolver and glpk to your eclipse classpath.

Sent from my iPhone

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @matthiaskoenig on June 7, 2018 23:13_

So what do I have to add in addition to the jars which are in the repository? I am working outside of eclipse, i.e., either in the console or with idea intellj.

[2018-08-06 01:14] shalinshah1993 commented on #5
Try adding jar files to you classpath in IntelliJ. Right click on project > properties and add jar to classpath.

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @niko-rodrigue on June 8, 2018 8:13_

This does look more like a linux libraries problem. Can you run:
ldd /home/mkoenig/git/sbscl-shalin/libglpkjni_x64.so

To see if you are missing some libraries. But the problem can be that you have different versions compared to the versions "libglpkjni_x64.so" was compiled against.

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @matthiaskoenig on June 8, 2018 10:14_

This has to work within maven. Otherwise things will not work within
travis. It would be great if you could write down the steps you did to make
it work in the readme.

On Jun 8, 2018 2:17 AM, "Shalin Shah" <notifications@github.com> wrote:

Try adding jar files to you classpath in IntelliJ. Right click on project >
properties and add jar to classpath.

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @matthiaskoenig on June 11, 2018 10:25_

Can anybody besides Shalin run the FBA simulations? If yes, what additional libraries/packages were installed, which paths set after cloning the repository? Did you install libglpk, libglpk-java and add them to the classpath?

Can anybody run the CobraSolverTest.java in the test-cases branch?
https://github.com/shalinshah1993/SBSCL/blob/test-cases/src

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @matthiaskoenig on June 11, 2018 10:34_

I added an issue to the SCPsolver board:
https://groups.google.com/forum/embed/?place=forum/scpsolver&showsearch=true&showpopout=true&showtabs=false&parenturl=http%3A%2F%2Fscpsolver.org%2F#!topic/scpsolver/B7ra8gkk5Jk

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @niko-rodrigue on June 11, 2018 11:45_

On which branch should I be to test, "maven-build" ? Just noticed that you spoke about the test-cases branch in the middle of your post.
My build is failing because of certificate errors:

[ERROR] Failed to execute goal on project sbscl: Could not resolve dependencies for project org.simulator:sbscl:jar:1.5: Failed to collect dependencies at de.uni-ros

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @niko-rodrigue on June 11, 2018 12:33_

After downloading by hand BFLog, I was able to run the test and I have the exact same error as you @matthiaskoenig. I am running Centos 7.5.1804.

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @matthiaskoenig on June 11, 2018 12:48_

No, I did not see the certificate error so far.

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @niko-rodrigue on June 11, 2018 13:0_

The certificate problem seem to be avoided if you have already a copy of the jar in your local maven repo.
I managed to run the test. The src/lib/lp-lib/GLPKSolverPack.jar contain several so files which have a different size as the one generated in the root folder. From the scpsolver forum, I guess we should be using glpk version 4.65 that might be a so

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @matthiaskoenig on June 11, 2018 13:48_

Hi @niko-rodrigue,

I tried the LD_LIBRARY_PATH solution (extract in temp dir and setting environment variable), but still get the same error. I can see that the correct library is tried (extracted directory library). Could it be that the library is only working on some linux systems?

[code]
[code]

[2018-08-06 01:14] shalinshah1993 commented on #5
_From @matthiaskoenig on June 11, 2018 15:49_

Hannes just answered is issue on linux 64.

I am currently working on bringing GLPKSolverPack up to date (v 4.65, and fixing errors) on all operating systems. While the GLPK solver pack has been working on Linux (specifically Ubuntu) forever, there seem to be problems on newer versions. Usually, errors like this occur due to some changes in the JNI in

[2018-08-06 01:14] shalinshah1993 opened #6 "Remove old javadocs"
_From @shalinshah1993 on July 30, 2018 17:15_

@draeger I think there is redundant old documentation `https://github.com/shalinshah1993/SBSCL/tree/master/docs/javadoc` which we should remove from the repo since maven automatically generates javadocs which we copy to `docs/javadocs`

_Copied from original issue: shalinshah1993/SBSCL#62_

[2018-08-06 01:14] shalinshah1993 commented on #6
_From @draeger on July 30, 2018 18:50_

Well, maybe this is not the case with SBSCL, but it could happen that some users need to stick with an earlier release of a software (for whatever reason, e.g., maybe they cannot update their operating system and hence not install a newer JVM, or there is some other dependency that would break when switching to a newer version of the library). We can remove

[2018-08-06 01:14] shalinshah1993 commented on #6
Okay then the older javadoc can be found in `docs/javadocs` by their version number while the latest documentation is [here](https://shalinshah1993.github.io/SBSCL/apidocs/overview-summary.html). This will be automatically updated by maven when changes are made to the build.

[2018-08-06 01:14] shalinshah1993 commented on #6
_From @draeger on July 30, 2018 19:34_

I just notice that the file `overview.html` seems not to be taken into account when generating the JavaDoc.

[2018-08-06 01:15] #6 closed

[2018-08-06 01:15] shalinshah1993 opened #7 "Incorrect graphical output for some sedml tests"
_From @shalinshah1993 on July 23, 2018 15:9_

The tests that do not give correct answers:

- osci-nested-pulse
- repeated-scan-osci
- repeated-steady-scan
- repeated-stochastic-scan
- param-scan-2D

The graphical outputs are exactly the same for all the repeated tasks i.e. the individual iterations don't apply changes from the `listOfChanges` sedml element.

_Copied from original issue: shalinshah

[2018-08-06 01:15] shalinshah1993 commented on #7
The source of this bug is jlibsedml's `ModelResolver` class. As per description, `SEDMLDocument.getModelString` should apply all the list of changes to the model ( including  repeatedTasks compute changes) but no changes are applied.

This is because jlibsedml's `computeChange` function only supports changing:

[code]

However, as per their documentation of `Change` class, there can be following c

[2018-08-06 01:15] shalinshah1993 commented on #7
_From @draeger on July 24, 2018 8:46_

I don't currently have any contact to @otter606 and am not aware of the current state of jlibsedml.

[2018-08-06 01:15] shalinshah1993 commented on #7
_From @otter606 on July 24, 2018 22:3_

Hi
 I got the notification but have not worked on jlibsedml for years, I think
Frank Bergmann was maintaining itm, but this was some years ago.
Richard

On Tue, Jul 24, 2018 at 9:47 AM, Andreas Dräger <notifications@github.com>
wrote:

[2018-08-06 01:15] shalinshah1993 commented on #7
_From @draeger on July 25, 2018 6:56_

Maybe @fbergmann can give more information?

[2018-08-06 01:15] shalinshah1993 commented on #7
_From @fbergmann on July 25, 2018 7:25_

I am not actively using jlibsedml. I'd be happy to propagate any code changes to the repository, or add another developer to the list. Chris Meyers was the last to commit to the project.

[2018-08-06 01:15] shalinshah1993 commented on #7
_From @draeger on July 25, 2018 12:25_

@cjmyers: what is the current state of jlibsedml?

[2018-08-06 01:15] shalinshah1993 commented on #7
_From @cjmyers on July 25, 2018 16:30_

Stalled.  There is no one currently actively developing it.  It would be great to have someone come along and champion it.

[2018-08-06 01:15] shalinshah1993 commented on #7
Since no one actively managing jlibsedml, I just added my own code for working with `SEDMLTags.COMPUTE_CHANGE_KIND`. Currently, the code uses string processing functions to extract SBML parameter from XPath and it updates them if SetValue element specifies a range for the parameter.

After pushing https://github.com/shalinshah1993/SBSCL/commit/b64b096628d925cfc710d8dd7829dba584afa7a0

The test cas

[2018-08-06 01:15] shalinshah1993 commented on #7
@cjmyers
Do you have a Github repo that i can send pull request to?

[2018-08-06 01:15] shalinshah1993 commented on #7
_From @fbergmann on July 26, 2018 18:45_

so far sources are kept in sf svn ... but if you send me a patch i will apply it happily

[2018-08-06 01:15] shalinshah1993 commented on #7
This depends on #55

[2018-08-06 01:16] shalinshah1993 opened #8 "Incorrect output curve for repressilator output #3"
_From @shalinshah1993 on July 18, 2018 21:48_

Weirdly, SBSCL gives correct output curves for "pre-processing" and  "time-course" simulations but not for "post-processing". The post-processing output has 3 different data references and it makes me confused as to how this should be implemented.

How can an output have 3 curves with different xDataGenerators? If the x-axis is different entities then

[2018-08-06 01:16] shalinshah1993 commented on #8
_From @draeger on July 19, 2018 19:34_

@shalinshah1993 could you please be a bit more explicit what is the problem here? I am overlooking something.

[2018-08-06 01:16] shalinshah1993 commented on #8
Try opening this sedml file - https://github.com/shalinshah1993/SBSCL/blob/master/src/test/resources/sedml/L1V2/repressilator/repressilator.xml and look at output tag. It has 3 different outputs - preprocessing, time course and post-processed. In the post-processed output, sedml wants us to plot 3 different curves when all 3 of them don't have the same X-axis.

[2018-08-06 01:16] shalinshah1993 commented on #8
_From @matthiaskoenig on July 20, 2018 6:55_

There is some misunderstanding here. Of course, all of them have the same x-Axis and same y-Axis. They don't have the same x-Data!. But this is no issue at all. You have to plot the y-DataGenerator vs. the x-DataGenerator. If this is time or anything else doesn't matter. I think you plot the wrong things against each other here.

[2018-08-06 01:16] shalinshah1993 commented on #8
Fixed! Closing this. https://github.com/shalinshah1993/SBSCL/commit/3797e3cdfb1325c8cee87d0491ad62dfb914ca77

Output curves for repressilator can be found in this folder: https://github.com/shalinshah1993/SBSCL/tree/working-branch/src/test/resources/sedml/L1V2/repressilator/results

[2018-08-06 01:16] #7 closed

[2018-08-06 01:16] #8 closed

[2018-08-06 01:17] shalinshah1993 opened #9 "Update index.html and wiki"
_From @shalinshah1993 on July 13, 2018 15:10_

The index page and Github wiki for simulation core have to be updated.

_Copied from original issue: shalinshah1993/SBSCL#57_

[2018-08-06 01:17] shalinshah1993 commented on #9
@draeger do we update these now or during the new release of SBSCL?

[2018-08-06 01:17] shalinshah1993 commented on #9
_From @draeger on July 20, 2018 9:53_

It would be best if there were a folder `src/site` where we could add the web resources directly in this project. The old page at SourceForge should be removed.

[2018-08-06 01:17] shalinshah1993 commented on #9
This has been updated. New webpage can be found here -  https://draeger-lab.github.io/SBSCL

The SourceForge page is deprecated and will be deleted soon.

[2018-08-06 01:17] shalinshah1993 opened #10 "Remove 3rd party libs from src/lib folder"
_From @shalinshah1993 on July 13, 2018 11:30_

Most of the existing libs used by simulation core are incorporated in maven central. Their jars can be removed from `src/lib` folder

_Copied from original issue: shalinshah1993/SBSCL#56_

[2018-08-06 01:17] shalinshah1993 commented on #10
I am removing all the jars except `scpsolver` and `libkiaso` from libs folder. So everything except `src/lib/maven`

Please confirm @matthiaskoenig

[2018-08-06 01:17] shalinshah1993 commented on #10
_From @matthiaskoenig on July 17, 2018 7:7_

Yes, looks good. Only things needed for the maven build is `src/lib/maven`.
Also keep the shell script for registering, i.e. `register_maven_jars.sh`. Everything else can be removed.

[2018-08-06 01:17] shalinshah1993 commented on #10
Done https://github.com/shalinshah1993/SBSCL/commit/357125adde469b0f94445a0c4e90b89c7d0ab1ce

Closing this.

[2018-08-06 01:18] shalinshah1993 opened #11 "Remove org.simulator.examples folder"
_From @shalinshah1993 on July 11, 2018 20:21_

Currently, the simulation library has some redundant code. All the early examples implemented to test features are in `org.simulator.examples` folder. However, they are redundant now since similar JUnit tests exist in `src/test/java` folder.

_Copied from original issue: shalinshah1993/SBSCL#54_

[2018-08-06 01:18] shalinshah1993 commented on #11
_From @matthiaskoenig on July 12, 2018 6:47_

Please don't remove this. Yes, some of the code is redundant, but the two things serve very different purposes.
The example folder shows user how they can use the SBSCL in their JAVA code. Whereas the junit tests test the code and ensure that the core functionality works.

[2018-08-06 01:18] shalinshah1993 commented on #11
Thanks for confirming. Closing this!

[2018-08-06 01:18] shalinshah1993 opened #12 "Cannot reach steadyState for repeated-steady-scan-oscli test"
_From @shalinshah1993 on July 3, 2018 15:5_

On running this test, simulation-core cannot find a steadyState solution.

[code]

_Copied from original issue: shalinshah1993/SBSCL#52_

[2018-08-06 01:18] #12 closed, assigned to nobody

[2018-08-06 01:18] shalinshah1993 opened #13 "Remove repeated-stochastic-runs test"
_From @shalinshah1993 on July 1, 2018 17:38_

This JUnit test needs to be removed since SBSCL doesn't support simulation algorithm with KIASO ID: 0000241. Currently, it throws an error for it.

`01.07 13:34:31 WARNS org.simulator.sedml.SedMLSBMLSimulatorExecutor@418: Cannot simulate task task0 Either the simulation reference is corrupt or the simulation algorithm is not available.`

Supported algo

[2018-08-06 01:19] shalinshah1993 opened #14 "Remove repeated-steady-scan-oscli test"
_From @shalinshah1993 on July 1, 2018 17:27_

This JUnit test needs to be removed since SBSCL doesn't support simulation algorithm with KIASO ID: 0000282. Currently, it throws an error for it.

`01.07 13:34:31 WARNS org.simulator.sedml.SedMLSBMLSimulatorExecutor@418: Cannot simulate task task0 Either the simulation reference is corrupt or the simulation algorithm is not available.`

Supported algo

[2018-08-06 01:19] shalinshah1993 opened #15 "No output generated for osci-nested-pulse sedml example"
_From @shalinshah1993 on July 1, 2018 17:15_

While testing oscli-nested-pulse example, SBSCL gives a warning about a data generator with a MathML element.

`01.07 13:08:05 WARNS org.simulator.sedml.ProcessSedMLResults@236: Math could not be executed for data generator J0_v0_1`

A similar error (or warning) is thrown with the repeated-scan-oscli example for one of its data generators.

`01.07 13:1

[2018-08-06 01:19] shalinshah1993 opened #16 "Move the assembly file to the source folder"
_From @draeger on June 22, 2018 11:55_

The file `assembly.xml` should not be located in the project's root directory, but in `src/assembly`. Please make sure it is used during the build process by the `pom.xml` file.

_Copied from original issue: shalinshah1993/SBSCL#48_

[2018-08-06 01:19] shalinshah1993 opened #17 "Number of points in SED-ML simulations incorrect"
_From @matthiaskoenig on June 15, 2018 9:29_

There must be an additional point in the time course simulations. This is some madness the original SED-ML editors thought of and everybody implements incorrectly.

_Copied from original issue: shalinshah1993/SBSCL#44_

[2018-08-06 01:19] shalinshah1993 opened #18 "SBSCL expect one of the Output elements to be a time symbol"
_From @shalinshah1993 on June 15, 2018 0:40_

On running `repressilator.xml` test, I found that it returns a NullPointerException when trying to execute the following plot2D output:

[code]

This is because none of the x or y data references are time symbols.

This is understandable since originally SBSCL was complete command line library and therefore plot2D wasn't supported.

@draeger What do yo

[2018-08-06 01:20] shalinshah1993 opened #19 "Example SEDML L1V2 files have errors"
_From @shalinshah1993 on June 12, 2018 17:38_

Example files from SED-ML L1V2 specification can be found [here](https://github.com/shalinshah1993/SBSCL/tree/working-branch/src/test/resources/sedml/L1V2).

Example 1: The algorithm KIASO ID 0000282 isn't supported by SBSCL.

Example 2: Running this model gives following error:
[code]

Example 3: The model source is `E:\Users\fbergmann\Documents\sbml

[2018-08-06 01:20] shalinshah1993 opened #20 "Run SBSCL against the SBML test suite in CI"
_From @matthiaskoenig on June 12, 2018 9:11_

Add parametrized test (analoque to the BiGG tests) which tests against the full SBSCL in CI.

_Copied from original issue: shalinshah1993/SBSCL#36_

[2018-08-06 01:20] shalinshah1993 opened #21 "Implement comp support"
_From @matthiaskoenig on June 12, 2018 7:38_

Until now there is no comp support implemented! Only thing available is an example for a comp simulation. There must be a class which allows to simulate comp models which is called from the example.

_Copied from original issue: shalinshah1993/SBSCL#34_

[2018-08-06 01:20] shalinshah1993 opened #22 "SED-ML FileResolver is broken"
_From @matthiaskoenig on June 11, 2018 15:37_

It seems to me that the SED-ML file resolver is not working correctly. When trying to resolve relative URIs for models it resolves them relative to the current working directory, but it should resolve relative to the SED-ML absolute path!

This breaks the following test, which relies on a model `abc_1.xml` located next to the SED-ML file `sed1.xml`.

[2018-08-06 01:21] shalinshah1993 opened #23 "Postprocessing function for SED-ML files not working any more"
_From @matthiaskoenig on June 11, 2018 15:33_

Somehow the post-processing for SED-ML is broken.
This can be seen with the following failing test:

[code]

Which calls the following for post-processing which was commented out. Where is the postprocessing code now?
[code]

_Copied from original issue: shalinshah1993/SBSCL#31_

[2018-08-06 01:21] #13 closed, assigned to nobody

[2018-08-06 01:21] #14 closed, assigned to shalinshah1993

[2018-08-06 01:21] #15 closed, assigned to shalinshah1993

[2018-08-06 01:21] #16 closed, assigned to shalinshah1993

[2018-08-06 01:21] #17 closed, assigned to shalinshah1993

[2018-08-06 01:21] #18 closed, assigned to draeger

[2018-08-06 01:21] #19 closed, assigned to nobody

[2018-08-06 01:21] #20 closed, assigned to matthiaskoenig

[2018-08-06 01:21] #21 closed, assigned to matthiaskoenig

[2018-08-06 01:21] #22 closed, assigned to nobody

[2018-08-06 01:21] #23 closed, assigned to shalinshah1993

[2018-08-06 01:22] shalinshah1993 opened #24 "Update uni-rostock maven dependencies"
_From @niko-rodrigue on June 11, 2018 13:51_

See the end of the page https://sems.bio.informatik.uni-rostock.de/2013/10/maven-repository/:

So we need to update our pom files to remove their repo and change the group ids for their dependencies.

_Copied from original issue: shalinshah1993/SBSCL#29_

[2018-08-06 01:22] shalinshah1993 opened #25 "Comp example file missing"
_From @matthiaskoenig on June 11, 2018 10:37_

@shalinshah1993 Can you put the comp file with which you tested your comp code in
 `/src/test/resources/comp/`?

I cannot find this anywhere in the repository.

_Copied from original issue: shalinshah1993/SBSCL#27_

[2018-08-06 01:22] shalinshah1993 opened #26 "Deleting the dist folder"
_From @shalinshah1993 on June 8, 2018 14:17_

Since we restructured SBSCL as per maven, all the binaries will be in target folder. Should we delete the `dist` folder where there is jar file?

_Copied from original issue: shalinshah1993/SBSCL#26_

[2018-08-06 01:23] #24 closed, assigned to matthiaskoenig

[2018-08-06 01:23] #25 closed, assigned to shalinshah1993

[2018-08-06 01:23] #26 closed, assigned to draeger

[2018-10-26 08:58] vmarangozova commented on #5
Hi, is there un update on this issue? I got this error.

[2018-10-26 12:47] shalinshah1993 commented on #5
Hi @vmarangozova, I remember some people from the SCPsolver community were working on this problem. What OS are you using? I was using windows and it works fine. However, others weren't able to use SCPsolver libraries on the Linux systems.

[2019-04-25 07:42] draeger opened #27 "Example OMEX file contains wrong model file name"
The SED-ML file `repressilator-sedml.xml` within the OMEX archive `/src/test/resources/omex/12859_2014_369_MOESM1_ESM.zip` contains an invalid reference to the model:
[code]
The exectution of the archive is therefore compromised.

[2019-04-25 09:11] #27 closed

[2019-08-13 18:12] adrianmarino commented on #5
Hi, i can solve the problem downloading libglpkjni_x64.so and copying this to  /usr/lib/x86_64-linux-gnu/jni path.

[2019-11-26 15:59] nanowizard opened #29 "SBML Version Support Documentation"
First I'll just mention that this library is awesome! Thank you for all your hard work on it. We're currently using it to simulate patient physiology in a branch of our [synthetic patient generator](https://github.com/synthetichealth/synthea/tree/physiology) which will hopefully get pulled into a release in the near future.

So, to the issue at hand:

It would be helpful to know which version of t

[2019-11-26 19:29] shalinshah1993 commented on #29
This seems to be something that can be added in JSBML rather than SBSCL. Perhaps, @draeger can comment more on that.

[2019-11-26 19:46] nanowizard commented on #29
@shalinshah1993 good point about JSBML though I think it would be nice to have it documented for both.

[2020-02-16 10:41] draeger commented on #29
@nanowizard thank you for your feedback! When the library was implemented, we made sure to support all levels and versions of SBML that were available at that time (see the [publication](http://dx.doi.org/10.1186/1752-0509-7-55)).

During the Google Summer of Code in 2018 we worked mainly on supporting [SED-ML](http://sed-ml.org) and the extension for [flux balance analysis](http://sbml.org/specif

[2020-04-02 10:38] draeger opened #32 "Update to JSBML 1.5"
Update to latest JSBML code.

[2020-05-12 13:24] matthiaskoenig opened #33 "Build icon in README links to incorrect page"
The tests are currently failing for the latest commits, but the build icon links to another repository in the README which is passing
[code]
[![Build Status](https://travis-ci.org/shalinshah1993/SBSCL.svg?branch=master&style=plastic)](https://travis-ci.org/shalinshah1993/SBSCL)
This is confusing and incorrect. Link to correct travis results page.

[2020-05-12 13:30] matthiaskoenig opened #34 "Travis tests are currently failing"
Currently the tests are failing
https://github.com/draeger-lab/SBSCL/commits/master
https://travis-ci.com/github/draeger-lab/SBSCL/builds/154929373

[2020-05-13 08:20] hemilpanchiwala commented on #34
@matthiaskoenig, I updated the JDK in my forked repo of SBSCL and the build still fails and that is due to some issues in the CompSimulatorTest files which have to be resolved.

My forked repo Travis build:
https://travis-ci.com/github/hemilpanchiwala/SBSCL/builds/165539283

[2020-05-13 08:28] matthiaskoenig commented on #34
Did you get the tests locally to run and see the same issue?
You should fix the underlying cause in the CompTests. This is a good chance to get to know the test structures and how the comp simulations work currently.

I.e. get the tests running locally and fix the CompIssues. If you tests pass on your travis make a pull request with the changes so we can review it.

[2020-05-13 08:29] matthiaskoenig commented on #33
@hemilpanchiwala could you also have a look at this one. Is a minor fix in the link in the Readme.

[2020-05-13 08:31] hemilpanchiwala commented on #34
Yes, I see the same issues while running the tests locally. Okay, I will fix the comp issues, and once the test pass, I will make a pull request with the changes.

[2020-05-13 08:36] hemilpanchiwala commented on #33
@matthiaskoenig, I will fix it with the same PR solving issue #34.

[2020-05-13 11:20] hemilpanchiwala commented on #34
@matthiaskoenig, this error occurs when two or more parameters or compartments are specified in the SBML files with comp, i.e., from `test6.xml` to `test10.xml`. The error is returned when the flatten method is called on the SBML document in CompSimulator.java.

I don't understand that is this error in the CompFlatteningConverter.java of JSBML?

Error while running test on `src/test/resources/comp

[2020-05-13 19:29] matthiaskoenig commented on #34
A lot happend in the CompFlatteningConverter in JSBML. We probably have to update JSBML first to the latest version to see if the error still exists in the latest version.
I.e. fix https://github.com/draeger-lab/SBSCL/issues/32.
You should update JSBML first and see it does not break any other tests. Then see if the Comp errors exist still with the latest JSBML version.

[2020-05-13 19:36] hemilpanchiwala commented on #34
@matthiaskoenig, I have updated pom.xml to JSBML 1.5

Commit Link:
https://github.com/hemilpanchiwala/SBSCL/commit/ae34768d22aa722fcd48b41550589e2ac9eadaff

[2020-05-19 12:43] matthiaskoenig commented on #34
@hemilpanchiwala
Trying to get this running locally to figure out what is going on.

[2020-05-19 13:46] matthiaskoenig opened #35 "Update the SBMLTestSuite Runner for L3V2"
Update the SBMLTestSuiteRunner
- [x] to use latest test files
- [x] include SBML L3V2 tests
- [x]  create parametrized tests (for every single test in the test runner to have a single test case)
- [x] refactor the test runner so collection of tests and running of a single test are separated
- [x] fail tests if they take > 60 seconds
- [ ] allow to run test suite in parallel

see `SBMLTestSuiteRunn

[2020-05-19 14:01] matthiaskoenig opened #36 "Some comp tests are failing due to JSBML flattening"
Currently some of the comp tests are failing due to problems with flattening. Issue is reported here:
https://github.com/sbmlteam/jsbml/issues/213

[2020-05-19 14:04] matthiaskoenig commented on #34
I could reproduce the issue and checked that
- models are valid SBML (online validator)
- can be flattened with libsbml-python bindings

This seems to be an issue with the flattening routine and is reported here:
sbmlteam/jsbml#213

Please ignore the CompTests for now, which are tracked in #36. The main issue here is resolved and can be closed.

[2020-05-21 10:03] #32 closed

[2020-05-21 10:03] #33 closed

[2020-05-21 10:03] #34 closed

[2020-05-23 07:07] matthiaskoenig commented on #35
Also could you look into running the test-suite in parallel. This takes very long at the moment and would be great if one could run these tests in parallel via a maven flag.
The tests do not share any state and have no raise conditions so no issues should arise in parallelization. See for instance https://www.baeldung.com/maven-junit-parallel-tests

[2020-05-23 07:22] matthiaskoenig opened #38 "SBML TestSuite failing test semantic/01488/01488 `java.lang.ArithmeticException: arcsech(0) undefined`"
Test fails due to: `java.lang.ArithmeticException: arcsech(0) undefined`
[code]

[2020-05-23 07:29] matthiaskoenig opened #39 "SBML TestSuite semantic/01592 takes 15-25 minutes to run"
The test takes much too long to run. This creates a ton of problems. E.g. very long travis runtimes and also very long runtimes for the local tests. Tests should normally run < 100ms, upper bound is something of 1-5 seconds for very large and complicated tests. But minutes is too long.

[2020-06-02 18:06] hemilpanchiwala commented on #38
@matthiaskoenig, resolved the error in the commit linked above!

[2020-06-09 13:43] shalinshah1993 commented on #36
Seems like this issue is fixed. Shall we close it?

[2020-06-09 16:04] hemilpanchiwala commented on #36
@shalinshah1993, this issue is of JSBML which isn't solved till now.  Currently, we have just skipped these tests. And, the pre-gsoc label should not be given to this issue as it's done after GSoC start.

[2020-06-09 16:07] hemilpanchiwala commented on #38
@matthiaskoenig, this issue is resolved now so, we can close it!

[2020-06-10 09:39] hemilpanchiwala opened #41 "Simulation of models with reaction without reactants and products"
As the new SBML Level 3 Version 2 models now allow for reactions without reactants and products, this support has to be added to the SBSCL simulator. Currently, the simulation fails with a warning by giving NaN values in results.

The result after simulating the test case [1300](https://github.com/sbmlteam/sbml-test-suite/blob/develop/cases/semantic/01300/01300-sbml-l3v2.xml) from SBML Test Suite:

[2020-06-10 10:49] hemilpanchiwala opened #42 "Add functions in ASTNodeInterpreter class for calculating node values of SBML L3V2 models"
The SBML Level 3 Version 2 models contain some new math functions that need to be added to the SBSCL simulator. Currently, just NaN values are returned for these functions.
These are functions that need to be added:
- `FUNCTION_QUOTIENT`
- `FUNCTION_REMAINDER`
- `IMPLIES`
- `MAX`
- `MIN`

Some reference SBML L3V2 test cases: [1272](https://github.com/sbmlteam/sbml-test-suite/blob/master/cases/sema

[2020-06-10 11:05] hemilpanchiwala opened #43 "Add support for rateOf csymbol"
A new `rateOf` csymbol has been introduced to the SBML Level 3 Version 2. Support for `rateOf` needs to be added to SBSCL which can be done by creating a function calculating a rate of any particular variable that needs to be added in the ASTNodeInterpreter class of SBSCL. Currently the SBML L3V2 models containing `rateOf` symbol outputs `NaN` values as results.

[2020-06-11 10:04] draeger commented on #36
Is the issue already filed in JSBML's [tracker](https://github.com/sbmlteam/jsbml/issues)?
* If so, could you please provide the link to the item?
* If not, could you please create one and then provide the link?
Thanks!

[2020-06-11 10:07] draeger commented on #38
@hemilpanchiwala when stating that a problem is solved, could you please directly provide the link to the commit? Thanks!

[2020-06-11 10:13] hemilpanchiwala commented on #36
Its provided by @matthiaskoenig in the description of the issue.

[2020-06-11 10:15] hemilpanchiwala commented on #38
@draeger, as we discussed in the last meeting, it was solved without any change so maybe I did some mistake before in testing. So, no commit to link here.

[2020-06-11 10:40] draeger commented on #38
Ok, should we close the issue now?

[2020-06-12 11:17] hemilpanchiwala commented on #43
@draeger @matthiaskoenig, can you once specify how will the rateOf be calculated for the Compartment or Parameter Node?

[2020-06-14 19:43] hemilpanchiwala opened #44 "Event triggered before the mentioned condition"
The issue occurs when the `time` csymbol is used in the condition to trigger an event.

While running the SBML L3V2 test case [1444](https://github.com/sbmlteam/sbml-test-suite/blob/develop/cases/semantic/01444/01444-sbml-l3v2.xml) from the SBML Test Suite, I see that the event should trigger at the time `t >= 5` but in results, the event is triggered at the time `t = 4`.

A similar issue occurs f

[2020-06-15 09:53] matthiaskoenig commented on #44
You should figure out where the events are evaluated in the code. I.e. somewhere it is checked in every integration step if the trigger conditions are fullfilled. Could you post the information on where to find this code then I can have a look what could go wrong.

[2020-06-15 10:08] hemilpanchiwala commented on #44
@matthiaskoenig, Are you talking about this method?
Link: https://github.com/hemilpanchiwala/SBSCL/blob/testrunner/src/main/java/org/simulator/math/odes/AbstractDESSolver.java#L731

[2020-06-15 10:22] hemilpanchiwala commented on #43
@draeger @matthiaskoenig
Now, the `rateOf` method has been added to the SBSCL simulator and now many tests with `rateOf` tests are passing now. ([Link](https://github.com/hemilpanchiwala/SBSCL/blob/testrunner/src/main/java/org/simulator/sbml/astnode/ASTNodeInterpreter.java#L1095) to the rateOf method)

However, there is a problem for time `t = 0` in some test cases, as the `rateOf` is called befor

[2020-06-15 11:21] matthiaskoenig commented on #43
Here some hints for the implmentation:
* `The rateOf for any symbol declared constant is zero!` (i.e. you can check if the compartment or parameter, ... is constant before calculating derivatives
* `rateOf` can be calculated on Compartment, LocalParameter, Parameter, Species, and SpeciesReference
* If volumes are changing for species in concentrations you need the combined derivative (see SBML spe

[2020-06-15 11:52] hemilpanchiwala commented on #43
@matthiaskoenig, I have implemented this by passing the instance of SBMLinterpreter in the rateOf method and getting the derivatives calculated by computeDerivatives method in SBMLinterpreter. The only problem I get is that at t = 0, the rateOf is calculated even before the derivatives are computed so gets the derivative field null.

[2020-06-15 11:53] hemilpanchiwala commented on #43
Here is the implementation: https://github.com/hemilpanchiwala/SBSCL/blob/b73b2931cb7b4d5318ff19076dad1893ee076213/src/main/java/org/simulator/sbml/astnode/ASTNodeInterpreter.java#L1095

[2020-06-15 15:43] matthiaskoenig commented on #43
I nowhere see the handling of the constant symbols or the combined derivatives of concentration species?

Also put things outside of loops if you can:
[code]
Here you do in every loop iteration four possibly expensive unnecessary function calls. No sure this is optimized away, but much better to do things outside of loops and remove duplicate calls:
[code]

[2020-06-15 15:44] matthiaskoenig commented on #43
So you have to figure out how to evaluate the derivatives before the rateOfs if rateOfs are in the model.

[2020-06-15 16:22] hemilpanchiwala commented on #43
@matthiaskoenig, I will add handling for the constant symbols but the species with concentration or amount units are being handled in the computeDerivatives itself in SBMLinterpreter.

[2020-06-16 13:42] shalinshah1993 commented on #44
I think `AbsrtactDESSolver` simply runs it. Where in the code does the test make a call to the solver? What params are passed? I'm guessing that the `params` passed or the way it is called has something to do with it. It should be interesting to note that the test starts at `t = 4` and not `t = 0`. May be the parameter you passed need `t+1`?

[2020-06-16 17:27] hemilpanchiwala commented on #44
@shalinshah1993, this is the [link](https://github.com/hemilpanchiwala/SBSCL/blob/testrunner/src/test/java/org/simulator/sbml/SBMLTestSuiteTest.java#L266) where params are passed to the solver. But, instead, I think there can be a problem in giving time in AbstractDESSolver whenever processEvents is called. Link to the solver method in AbstractDESSolver: https://github.com/hemilpanchiwala/SBSCL/bl

[2020-06-16 18:47] hemilpanchiwala opened #45 "Misinterpretation of function variables with parameters"
This issue occurs when the bvars defined in the FunctionDefinition of the model are same as the defined ids for the parameters. The simulator misinterprets the function variables as the parameters and calculates the results by considering the values of the parameters.

This issue is encountered while running the SBML L3V2 model of the [1492](https://github.com/sbmlteam/sbml-test-suite/blob/develop

[2020-06-16 18:52] hemilpanchiwala commented on #43
Link to the rateOf function: https://github.com/hemilpanchiwala/SBSCL/blob/testrunner/src/main/java/org/simulator/sbml/astnode/ASTNodeInterpreter.java#L1095
@matthiaskoenig, Does this seem okay now or should I make all the if statements for returning 0d in just one if statement?

[2020-06-16 18:56] matthiaskoenig commented on #43
Just calculate once the constant base in a hash map and look them up
instead of doing all this tests every integration step.

On Tue, Jun 16, 2020, 20:52 Hemil Panchiwala <notifications@github.com>
wrote:

[2020-06-16 19:11] hemilpanchiwala opened #46 "Add delay property to the rateOf function"
Currently, whenever the rateOf is defined inside the delay tag for any of the SBML model then it does not take that delay into account and just provides the rateOf values as the time proceeds.

Issue found while simulating the model [1400](https://github.com/sbmlteam/sbml-test-suite/blob/develop/cases/semantic/01400/01400-sbml-l3v2.xml), [1401](https://github.com/sbmlteam/sbml-test-suite/blob/deve

[2020-06-16 19:51] hemilpanchiwala commented on #43
@matthiaskoenig, added a constant hashmap in SBMLinterpreter and updated the rateOf method in the linked commit above. Does it seem fine now?
Updated rateOf method [[Link](https://github.com/hemilpanchiwala/SBSCL/blob/3c680b9495b7a6fda9b410b9bca35d0124ae5ed0/src/main/java/org/simulator/sbml/astnode/ASTNodeInterpreter.java#L1095 )].

[2020-06-16 20:18] hemilpanchiwala commented on #46
This occurs as currently whenever the rateOf function is called it just gets the value from the `changeRate` array at that time, instead, there should be something like if I can make an ASTNodeValue object of that value from changeRate array as a `REAL` nodeType and just run compileDouble method by passing time and delay then everything should run fine, i.e., delays will be considered.

@draeger,

[2020-06-17 10:42] hemilpanchiwala opened #47 "SBML L3V2 tests failing with no identified reason yet"
Currently, for the SBML L3V2 models from the SBML Test Suite, about 69 tests are failing (ignoring the comp models). Some of them are failing due to some reasons (issues are opened for them separately), but this issue contains the test cases for which there is currently no reason for failing (deviating from the pre-defined results of the SBML Test Suite).

Here's the list (test case number of the

[2020-06-17 11:22] hemilpanchiwala commented on #47
@matthiaskoenig, as described by you in the meeting, I have added all the failed tests here.

[2020-06-17 11:25] hemilpanchiwala commented on #43
I also find one test case of rateOf which fails but I don't get any clue for it. Test case [1456](https://github.com/sbmlteam/sbml-test-suite/blob/develop/cases/semantic/01456/01456-sbml-l3v2.xml).

[2020-06-19 10:04] hemilpanchiwala commented on #39
@matthiaskoenig, the test case 1287 from SBML Test Suite, also has a similar problem.

[2020-06-22 10:38] matthiaskoenig opened #49 "Support for FBA FROG analysis"
SBSCL has a working FBA model solver. As part of the recent HARMONY we developed basic FROG guidelines. See also https://github.com/matthiaskoenig/fbc_curation/

[2020-06-27 12:23] hemilpanchiwala opened #50 "Simulation of SBML models with changing compartment size"
This issue is created to discuss the SBML Test Suite models where the values are dependent on the changing compartment size. Currently, the models are failing the tests with deviation in the results. Some of the models (from SBML Test Suite) with this issue are 1504-1514, 1198, 1478, 1498, and some others.

Discussing model [1504](https://github.com/sbmlteam/sbml-test-suite/blob/develop/cases/sema

[2020-06-27 13:32] draeger commented on #50
Here is a description how LaTeX code can be rendered within GitHub issues:
https://gist.github.com/a-rodin/fef3f543412d6e1ec5b6cf55bf197d7b

An example would be: <img src="https://render.githubusercontent.com/render/math?math=\frac{\mathrm{d}}{\mathrm{d}t}S_1 = rhs">

[2020-06-27 20:38] matthiaskoenig commented on #50
You cannot calculate the values after t = 0.1. There are additional steps between 0 and 0.1 which have different derivatives and derivatives change between 0 and 0.1 dependent on the intermediate steps. This is what an integration algorithm is doing.

[2020-06-29 07:34] hemilpanchiwala commented on #35
@matthiaskoenig, Should we make running SBML Test Suite tests parallel as I think this will create issues with the GLPKSolver (which we observed even before)?

[2020-06-29 08:46] matthiaskoenig commented on #35
This is not a priority. Open a separate issue for the parallelization where you document the issues with the parallel running of the FBA tests. You can close this one here.

[2020-06-29 11:01] hemilpanchiwala opened #51 "FBA tests fail on parallel testing"
This issue occurs while testing the SBML models with FBC extension from the SBML Test Suite.

The main problem behind this seems to be due to the GLPK Solver.
@matthiaskoenig also pointed out this:

[2020-07-01 20:17] luciansmith commented on #50
There's an sbml-discuss thread from when I created test 1198, which all the other models are variants of:

https://groups.google.com/forum/#!msg/sbml-discuss/jbAFdCkM-fA/l-PANnpmWAgJ

The relevant math bit is:

d(S1_conc)/dt = 0.4
d(C1)/dt          = 0.2
S1_conc         = S1_amt/C1

You can calculate this a few different ways, the most straightforward of which is simply to calculate S1_conc and C1

[2020-07-01 20:31] luciansmith commented on #50
The upshot is:  If the model tells you what the change in concentration over time is, then that is the change in concentration over time:  dx/dt is 0.4, and nothing else in the model may change that.  (Hence, it changes from 0 to 0.4 over the 1 second of the simulation).

Similarly, dC1/dt is 0.2.  This is just a given.  In this case, C1 changes from 0.5 to 0.7 over the course of the simulation.

[2020-07-02 09:05] hemilpanchiwala commented on #51
@matthiaskoenig @draeger
As now we know where the error was for this issue and it's resolved in the repository. So should I link this issue to the PR so that it closes on the merge of the PR?

[2020-07-02 10:19] matthiaskoenig commented on #51
Yes, link the issue.

On Thu, Jul 2, 2020 at 11:06 AM Hemil Panchiwala <notifications@github.com>
wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt Universität zu Berlin, Institute of Biology, Institute for
Theoretical Biology
  https://livermetabolism.com
konigmatt@googlemail.com
https://twitter.com/konigmatt
https://github.com/matthiaskoenig
Tel:

[2020-07-03 15:10] #42 closed

[2020-07-03 15:10] #35 closed

[2020-07-03 15:10] #38 closed

[2020-07-03 15:10] #41 closed

[2020-07-03 15:10] #43 closed

[2020-07-03 15:10] #51 closed

[2020-07-07 15:21] draeger opened #52 "Terminology, Power and Oppressive Language in Computer Science"
To avoid implying any oppressive language, we should rename the `master` branch to `main` by following these recommendations: https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx

[2020-07-09 14:34] draeger commented on #52
It seems renaming the master branch will cause problems with GitHub pages: https://seankilleen.com/2020/06/how-to-rename-your-default-branch-away-from-master-while-using-github-pages/

[2020-07-20 13:53] #47 closed

[2020-07-20 13:53] #50 closed

[2020-07-21 02:56] hemilpanchiwala commented on #52
@draeger, GitHub officially says to wait for its new updates which will seamlessly provide support for changing `master` branch to `main` branch.

Guidelines by GitHub on renaming branch name: https://github.com/github/renaming

[2020-07-21 07:14] #52 closed

[2020-08-05 20:15] draeger commented on #39
What are the reasons for the long run time? Are particular SBML elements / attributes used?

[2020-08-06 06:45] hemilpanchiwala commented on #39
The description of model 01592 test case from the SBML Test Suite:

synopsis:        Competing events with the same priority, jointly causing a parameter to monotonically increase, checking to make sure the two events are not exactly evenly distributed.  NOTE:  STOCHASTIC TEST. Your software may fail periodically; it is only supposed to succeed in the majority of cases.

[2020-08-06 07:30] draeger commented on #39
@hemilpanchiwala Could it also help here if we identify some successful seed value to speed up the test, i.e., does it explicitly use a random number generator?

[2020-08-06 07:42] hemilpanchiwala commented on #39
@draeger, do we use any seed in the simulation for SBML tests🤔?

[2020-08-06 07:51] draeger commented on #39
I think not, but it was a question from my side - maybe we should discuss this. How do we randomly decide which event to pick if they are of equal priority? Are random numbers involved or are they in a randomized data structure (such as a `Set`), or do we deterministically always pick the first in a list?

[2020-08-06 07:57] hemilpanchiwala commented on #39
Yes, it just clicked to me that there is a method pickRandomEvent() in EquationSystem class. Maybe that can help.
Link: https://github.com/hemilpanchiwala/SBSCL/blob/fern/src/main/java/org/simulator/sbml/EquationSystem.java#L1726

[2020-08-06 08:00] hemilpanchiwala commented on #39
Also, this class RNG which is accessed in pickRandomEvent() has variable random_seed.
https://github.com/hemilpanchiwala/SBSCL/blob/fern/src/main/java/org/simulator/math/RNG.java

[2020-08-06 08:01] draeger commented on #39
See, there is our random number.

[2020-08-06 08:02] hemilpanchiwala commented on #39
Yes, but it is accessed only once. I mean seed value is set only once in the simulation.

[2020-08-06 17:18] hemilpanchiwala opened #55 "Refactor FERN classes to use SBSCL classes"
**This issue is created for discussion of making FERN use the classes from SBSCL for interpreting and processing the models to perform the stochastic simulation.**

Here's the UML of classes related to the Network interface.
![Screenshot from 2020-08-06 22-35-01](https://user-images.githubusercontent.com/42446679/89560733-1ecf7480-d835-11ea-9617-1ebfb14a6892.png)

Here, it is seen that there are f

[2020-08-07 16:44] hemilpanchiwala commented on #1
@matthiaskoenig, These models now provide correct results in SBSCL. I have updated the changes in PR #54. So, should I link this issue to the PR so that it can be closed once PR gets merged?

Commits Link: https://github.com/draeger-lab/SBSCL/pull/54/commits/c40ef21edde633cdff534134b671137d06eb6eca
https://github.com/draeger-lab/SBSCL/pull/54/commits/9b924969c3c7cb42e7d5de27ae2f025034697222

[2020-08-07 16:46] hemilpanchiwala commented on #4
@matthiaskoenig, @shalinshah1993
Now, all FBA tests of BiGG models are running and passing successfully, so should I link this issue to PR #54 so that it can be closed on PR merge?

Commits Link: https://github.com/draeger-lab/SBSCL/commit/c40ef21edde633cdff534134b671137d06eb6eca https://github.com/draeger-lab/SBSCL/commit/9b924969c3c7cb42e7d5de27ae2f025034697222

[2020-08-07 16:48] hemilpanchiwala commented on #1
OPTIMAL LP SOLUTION FOUND
iMM1415.xml
Objective value:	1.3634279056663554

OPTIMAL LP SOLUTION FOUND
iRC1080.xml
Objective value:	6.156851475933738

[2020-08-07 18:48] matthiaskoenig commented on #1
Yes, link the issue.

On Fri, Aug 7, 2020 at 6:48 PM Hemil Panchiwala <notifications@github.com>
wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt Universität zu Berlin, Institute of Biology, Institute for
Theoretical Biology
  https://livermetabolism.com
konigmatt@googlemail.com
https://twitter.com/konigmatt
https://github.com/matthiaskoenig
Tel: +

[2020-08-07 18:48] matthiaskoenig commented on #4
Yes, link the issue

[2020-08-08 09:23] draeger commented on #1
@hemilpanchiwala: It would be helpful to also state which software found which value and how large the divergence was. Which solver was used?

[2020-08-08 09:38] hemilpanchiwala commented on #1
@draeger,

These are the results provided by SBSCL.

While the results by cobrapy are

Deviations (sbscl_results - cobrapy_results):

[2020-08-08 09:39] hemilpanchiwala commented on #1
I used the FluxBalanceAnalysis class to solve the model.

[2020-08-08 09:43] draeger commented on #1
The divergence is only only the order of <img src="https://render.githubusercontent.com/render/math?math=10^{-10}"> or even <img src="https://render.githubusercontent.com/render/math?math=10^{-11}">. This is already getting close to [machine precision](https://en.wikipedia.org/wiki/Machine_epsilon) for some circumstances.

[2020-08-08 16:25] zakharc commented on #55
@hemilpanchiwala: Thank you for reporting this.

From my perspective, we can make use of some simple patterns to make the simulations of different types more logically isolated from each other, e.g. Composite combined with Chain of Responsibility pattern to let components access global properties through their parent. We could also use Decorator to override the properties on parts of the Composite

[2020-08-14 09:07] #1 closed

[2020-08-14 09:07] #4 closed

[2020-08-27 12:38] #29 closed

[2021-02-18 11:12] matthiaskoenig opened #62 "Update Maven dependency documentation (version 2.0)"
The maven dependency documentation is outdated at
https://draeger-lab.github.io/SBSCL/dependency-info.html
Also the maven and usage dependency information should be stated in the README!. It took me quit some time to find this information starting from the github repository.

[2021-02-18 11:44] matthiaskoenig opened #63 "Upload SBSCL to mvnrepository"
I think SBSCL is not jet on a central maven repository.
https://mvnrepository.com/search?q=sbscl
See for instance JSBML instead
https://mvnrepository.com/search?q=jsbml

We should provide SBSCL via a central maven repository so that it can be easily included in projects.

[2021-02-18 11:46] matthiaskoenig commented on #63
See for instance discussion in: https://github.com/TakahiroYamada/SBMLWebApp/issues/1

[2021-02-18 12:43] draeger commented on #63
I am on it. Moving SBSCL to Maven Central is on my list. I'll post an update here when it is done.

[2021-02-25 12:55] draeger commented on #63
Solved with comm https://github.com/draeger-lab/SBSCL/commit/676766c820ed1f482f189a3fb8618cd84a436023.

[2021-02-25 12:55] #63 closed

[2021-04-21 15:00] draeger commented on #62
Solved with https://github.com/draeger-lab/SBSCL/commit/36ba74c422e3e12e7ce5d9c3acfff725f5dafcb4.

[2021-04-21 15:00] #62 closed

[2022-04-04 21:07] draeger opened #68 "Improve the curation level on BioSimulators"
The website biosimulators.org collects various simulation engine and stand-alone tools for simulation in systems biology. SBSCL is among them but currently with suboptimal curation level indication.

The curation level is calculated based on how much information is provided and whether that information has been verified.
* 5: [Containerized command-line interface](https://docs.biosimulations.org/c

[2022-04-05 03:28] jonrkarr commented on #68
If you'd like to use the improvements to jLibSedml, reach out to @moraru who's also leading BioSimulators/BioSimulations.

[2022-04-08 10:17] draeger opened #69 "Update the project's website"
The project's [website](https://draeger-lab.github.io/SBSCL/) does not properly describe the software anymore and needs to be updated:
* The landing page does not mention constraint-based modeling (flux balance analysis)
* CellML is highlighted as a supported format, but at the moment an implementation is lacking.
* Instead, the library supports OMEX archives, which is not stated
* Examples, parti